.face-bg {
    background: #FBD462;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    position: relative;
}

.face {
    width: 96px;
    height: 96px;
    position: relative;
    transform-origin: 0% 200%;
    animation-duration: 2s;
    animation-name: face-swing;
    animation-iteration-count: infinite;
}

@keyframes face-swing {
    from {
    }
    50% {
        transform: rotate(15deg) translateX(-50%);
    }
    to {
    }
}

.face-feature {
    position: absolute;
    background: black;
}

.eyebrow {
    width: 12.5%;
    height: 12.5%;
    top: 8%;
    background: transparent;
    border: solid 4px;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.eyebrow-1 {
    left: 19%;
    transform: rotate(-10deg);
}

.eyebrow-2 {
    right: 19%;
    transform: rotate(10deg);
}

.eye {
    width: 14%;
    height: 23%;
    top: 27%;
    border-radius: 50%;
    animation-duration: 2s;
    animation-name: blink;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        transform: scale(1, 1);
    }
    33% {
        transform: scale(1, 0.00001);
    }
    54% {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1, 1);
    }
}

.eye-1 {
    left: 19%;
    transform: rotate(9deg);
}

.eye-2 {
    right: 19%;
    transform: rotate(-9deg);
}

.mouth {
    width: 25%;
    height: 42%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 2s;
    animation-name: wao;
    animation-iteration-count: infinite;
}

@keyframes wao {
    from {
        transform: translateX(-50%) scale(1, 1);
    }

    33% {
        transform: translateX(-80%) translateY(-20%) scale(0.5, 0.4);
    }

    81% {
        transform: translateX(-50%) scale(1, 1);
    }

    to {
        transform: translateX(-50%) scale(1, 1);
    }
}

/* @keyframes wao {
    from {
        transform: translateX(-50%) scale(1, 1);
    }

    33% {
        transform: translateX(-90%) translateY(-20%) scale(0.5, 0.4);
    }

    54% {
        transform: translateX(-90%) translateY(-20%) scale(0.5, 0.4);
    }

    81% {
        transform: translateX(15%) translateY(-10%) scale(1, 1);
    }

    to {
        transform: translateX(-50%) scale(1, 1);
    }
} */