.face {
    background: #FBD462;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    position: relative;
}

.face-feature {
    position: absolute;
}

.eyebrow {
    width: 12.5%;
    height: 12.5%;
    top: 8%;
    border: solid 4px;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%;
}

.eyebrow-1 {
    left: 19%;
    transform: rotate(-10deg);
}

.eyebrow-2 {
    right: 19%;
    transform: rotate(10deg);
}

.eye,
.mouth {
    background: black;
}

.eye {
    width: 14%;
    height: 23%;
    top: 27%;
    border-radius: 50%;
    animation-duration: 3s;
    animation-name: blink;
}

@keyframes blink {
    from {
        height: 23%;
    }
    to {
        height: 0%;
    }
}

.eye-1 {
    left: 19%;
    transform: rotate(9deg);
}

.eye-2 {
    right: 19%;
    transform: rotate(-9deg);
}

.mouth {
    width: 25%;
    height: 42%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}